/* purpule color : #ad0d69
   dark purpule color: #381f2d */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
}
body {
    position: relative;
    height: 100%;
    font-family: 'Abel', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 94rem;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 8rem;
    position: relative;
}


#navigation-menu {
    background-color: #fff;
    padding: 1rem;
    width:100%;
    margin: 0 auto;
    height: 5rem;
    position: fixed;
    z-index: 100;
    display: block;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.6);
}


#logo {
    font-family:'Passion One', cursive;
    font-size: 3.2rem;
    font-weight: bold;
    float:left;
    color: #ad0d69;
    text-decoration: none;
  
    
}
.logo {
    font-family:'Passion One', cursive;
    font-size: 1.5rem;
    font-weight: normal;
    float:left;
    color: #ad0d69;
    text-decoration: none;
    display: block;
    
}
.logo:hover,#logo:hover {
    text-decoration: none;
    color:  #ad0d69;
    opacity: 0.9;
}
.site-nav .btn-home {
    padding-left: 12rem;
}

.site-nav a {
    text-decoration: none;
    float: left;
    padding-right: 5rem;
    color: #420126;
    font-family: 'Roboto', sans-serif;
    padding-top: .9rem;
    font-size: 1.3rem;
    
}


.site-nav li{
    
    list-style: none;
    
}
.site-nav a:hover {
    color: #ff0594;
    text-decoration: none;
}


.sub-bar {
        position: absolute;
    top: 7rem;
    left: 2.8rem;
    height: 13rem;
    width: 20rem;
}
.sub-bar h1 {
     font-weight: normal;
    font-size: 3rem;
    color: #ad0d69;
    padding-top: 5rem;
    padding-bottom: 5rem;
 
}

.sub-bar small {
    position: absolute;
    bottom: 3rem;
    left: .2rem;
    
}
.sub-bar small a{
    
    color:  #5c6d6b;
    font-size: 1rem;
    
}

small a:hover {
    color: #ad0d69;
    text-decoration: none;
}


#main-content {
    padding: 1rem;
    padding-bottom: 6rem;
    display: block;
   
   
}

.mr-3 {
    width: 16rem;
    height: 12rem;
    margin-top: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem;
}
.mr-3:hover {
    transform: translateY(.2rem);
    box-shadow: 0 .4rem 1rem #5c6d6b;
}
.mt-0 {
    line-height: 6rem;
     color:  #ad0d69;
    font-family: 'Bitter', serif;
    font-size: 2rem;
}
.blog-title:hover,
.blog-title h4:hover{
    
    text-decoration: none;
    opacity: .7;
    
    
}
.media-body p {
    font-size: 1.3rem;
}


.read-more:hover {
    text-decoration: none;
    color:  #ad0d69;
}
.list-unstyled {
    margin-bottom: 15rem;
    margin-top: 13rem;
}



#footer {
    position: absolute;
     bottom: 0;
    float: left;
    width: 100%;
    height: 12rem;
    background-color: #16010c;
    box-sizing: border-box;
    
    
}

.social-media {
    position: absolute;
    top:2rem;
    left:43rem;
    display: block;
}
.sm {
    float:left;
    margin-right: 1rem;
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    
}
.sm-twitter {
    background-image: url(../images/twitter-dark.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sm-twitter:hover {
    transform: translateY(-.3rem);
    background-image: url(../images/twitter-blue.png);
}

.sm-linkedin {
    background-image: url(../images/linkedin-dark.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.sm-linkedin:hover {
    transform: translateY(-.3rem);
    background-image: url(../images/linkedin-blue.png);
}
.sm-xing {
    background-image: url(../images/xing-dark.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.sm-xing:hover {
    transform: translateY(-.3rem);
    background-image: url(../images/xing-green.png);
}
.sm-github {
     background-image: url(../images/github-dark.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.sm-github:hover {
    transform: translateY(-.3rem);
    background-image: url(../images/github-purple.png);
    
}

.copyright {
    
    text-align: center;
    color: #f2dce7;
    font-size: 1.3rem;
    padding-top: 8rem;
    padding-right: 4rem;
  
    
}

.copyright a {
    text-decoration: none;
    color: #f2dce7;
  
}

.copyright a:hover {
    color:#ff0594;
    text-decoration: none;
}











.group:before,
	.group:after {
		content:““;
		display:table;
	}
	.group:after {
		clear:both;
	}
	.group {
		zoom:1;
	}






















